/*  your css code here. If applicable */
.book-library{
	width:800;
	background-color:#ffffff;
	
}

body{
	background-color:#f8f8f8;
	text-align:center;
	justify-content: center;
} 
.book{
	height:350;
	width:800px;
	background-color:#ffffff;
	
}
.author,p{
	color: #777777; 
	text-align:left;
	margin-left: 25px;;
	
}
.price-tag{
	color: white;
	width:750px;
	background-color:#2ecc71;
	margin:30px;
	
	
}